* {
  box-sizing: border-box
}

body {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    margin: 0 auto 0 auto;
    padding: 12px 0 0 0;
}

p {
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    margin: 24px auto 12px auto;
}

h2, h4, li {
    font-family: 'Helvetica', sans-serif;
    padding: 8px 0 8px 0;
}

h2, h4 {
    margin: 4px auto 4px auto;
}

h2 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

li {
    font-size: 18px;
}

.background {
    width: 1024px;
    margin: 12px auto 4px;
    padding: 12px 24px 12px;
    background-color: lightblue;
}

.title {
    background-color: bisque;
    margin: 12px auto 12px auto;
    padding: 12px; 
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 48px;
}

.top-bar {
    background-color: aliceblue;
    margin: 12px auto 12px auto;
    padding: 4px;
}

.top-bar-list {
    padding: 12px 18px;
    display: inline;
    text-align: center;
    font-size: 20px;
    font-family: "Georgia", serif;
}

.body-background {
    background-color: beige;
    padding: 4px 12px;
    border: outset 4px black;
    margin: 4px auto 12px auto;
}

.bullet-listing{
    list-style-type: disc !important;
    padding: 0 0 0 16px;
}